<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="nav navbar-fixed-top" style="position:relative;background-color:rgb(250, 150, 0);height:80px">
      <img src="assets/images/parth.jpg" style="margin-left:50px;position:absolute;margin-top:10px;border-radius:50%;width:60px;height:60px">
                
      <div style="margin-left:120px;margin-top:20px;height:20px;position:absolute"> 
              Parth Natu
               <br>
               |System Engineer Trainee|Infosys Ltd.
               </div>      
    <img class="img-small" style="float:right" src="assets/images/fb.png" >
    <img class="img-small" src="assets/images/gmail.png" >
    <img class="img-small" src="assets/images/linkedin.png" >
            
    
    </div>        
    <div class="container container-fluid" style="padding:0px;float:left;background-color:#dbdfd9c7;width:300px;height:600px;position:absolute">
      <ul class="list-group">
              <li class="list-group-item list-item">Home</li>
              <li class="list-group-item list-item">Education</li>
              <li class="list-group-item list-item">Projects</li>
              <li class="list-group-item list-item">Skills</li>
              <li class="list-group-item list-item">Hobbies & Interests</li>
      </ul>        
      </div>      
     <nav class="navbar bg-inverse" style="height:40px;margin-left: 300px">
        <div class="container">
                    <ul class="nav navbar-nav" routerLink="active">
                                    <li class="nav-item"><a class="nav-link" routerLink="index/home" [routerLinkActive]="['active']">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" routerLink="index/about">About Me</a></li>
                                   <li class="nav-item"><a class="nav-link" [routerLink]="home">Curriculum Vitae</a></li>
                                    
                               </ul>           
        </div>                        
      </nav>   
      <hr>  
      
   </div> 
   <div style="margin-left:300px;border:1px solid grey">
   <router-outlet></router-outlet>    
   </div>
