<div style="border:1 px solid grey;display:table-row;width:600px">
  
  <div style="margin-left:10px;width:170px;float:left;height:210px;">
    <img src="assets/images/parth.jpg" style="width:160px;height:200px">
  </div>
  
  
  <div style="float:left;width:400px;float:left">
  <div style="height:25px;width:200px;background:gray">Personal Details</div>
   <div style="text-align:center;">
<table>
  <tr><td id="tabledata"><b>  Name </b></td>
      <td>:</td>
     <td id="tablevalue"><b>Parth Natu</b></td>
  </tr> 
  <tr><td id="tabledata"><b>  DOB </b></td>
    <td>:</td>
      
    <td id="tablevalue"><b>Jan 01,1997</b></td>
 </tr>  
 <tr><td id="tabledata"><b>  Place of Birth </b></td>
  <td>:</td>
      
  <td id="tablevalue"><b>Chhatarpur</b></td>
</tr>  

</table>
</div>
</div>
</div>
