<div style="display:table;width:900px">
 
<h2><b>Education Details</b></h2>
<hr>
<h3>Graduation</h3>
<hr>
<div style="display: table-row">
<div class="card " style="align-content:center;display: table-cell;width:500px;float:left">
  <div style="align-content: center;margin-left:150px ">
  <img src="../../assets/images/sgsits.png" alt="Avatar" style="width:200px;height: 300px;">
  </div>
  <div class="container" style="width:500px">
    <h4><b>Shri Govindram Seksaria Institute of Technology
      <br>
      and Science Indore(M.P)</b></h4> 
    <p>Bachelor of Engineering </p>
    <p>Dept. of Computer Engineering</p> 
    <p>2014-2018</p>
  </div>
  <div style="width:10px;display:table-cell">HI there</div>
  <h3>High School</h3>
<hr>
<div class="card " style="align-content:center;display:table-cell;width:500px;float:left;">
  <div style="align-content: center;margin-left:150px">
  <img src="../../assets/images/kv.jpg" alt="Avatar" style="width:200px;height: 300px;">
  </div>
  <div class="container">
    <h4><b>Kendriya Vidyalaya Chhatarpur(M.P)</b></h4>
    </div>
</div>
</div>
</div>